* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-image: url(body_bg.png);
  background-repeat: repeat;
  width: 100%;
}

ul {
  margin-left: 3%;
}

audio {
  visibility: hidden;
}

/* @group Blink */

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* @end */


#wrapper {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 95%;
}

#info {
  font-size: 1.4em;
  margin-bottom: 100px;
}

#info h1 {
  background-color: #a51e37;
  color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  background-image: url(palme_gold.png);
  background-position: right 1% center;
  background-repeat: no-repeat;
}

#info h2 {
  text-align: center;
}

#info ul li {
  font-size: 1.4em;
}

#clock {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

#time {
  font-size: 9em;
  margin-bottom: 20px;
}

#timeinfo {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1.4em;
}

#timeleft {
  font-size: 5em;
}

#settings {
  padding: 5px;
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
}
